.box {
    background-color: gray;
    border: 2px solid black;
    box-sizing: border-box;
    width: 30%;
    padding-right: 0%;
    margin: 4% 4% 4% 4%;
}

h1 {
    text-align: center;
} 

h2 {
    float: right;
    margin-right: 0px;
    text-align: center;
    width: 60%;
    height: auto;
    border: 1px solid black;
}

#chicken {
    background-color: pink;
}

#beef {
    background-color: red;
}

#sushi {
    background-color: burlywood;
}

p {
    clear: both;
    text-align: center;
    margin: 10px;
}

section {
    margin: auto;

    height: 100%;
}

